.card {
	box-shadow: 0 0 10px pink;
}

.card-header {
	border-bottom: none;
	/*box-shadow: 0 0 10px pink;*/
	background-color: #ff177c;
	color: white;
	width: 100%;
	margin-top: 10px;
	opacity: .75;

}